main .table-of-contents-container>div {
    max-width: var(--max-width);
    box-sizing: border-box;
    padding: 0 3rem;
}

main .table-of-contents {
    margin: 32px 0;
}

main .table-of-contents-sticky {
    display: none;
}

main .table-of-contents .table-of-contents-card {
    border-bottom: 1px solid #ddd;
    display: block;
    text-decoration: none;
}

main .table-of-contents .table-of-contents-teaser {
    display: none;
}

main .table-of-contents .table-of-contents-eyebrow {
    margin: 20px 0;
    color: #5989f3;
    font-size: 16px;
}

main .table-of-contents h3 {
    margin: 20px 0;
    color: black;
    font-size: 18px;
}

@media (min-width: 768px) {
    main .table-of-contents .table-of-contents-card {
        border-bottom: unset;
    }

    main .table-of-contents {
        display: flex;
        flex-wrap: wrap;
    }

    main .table-of-contents .table-of-contents-card {
        width: 50%;
        box-sizing: border-box;
        padding: 2rem;
    }

    main .table-of-contents .table-of-contents-card:hover {
        background-color: #eee;
    }

    main .table-of-contents h3 {
        font-size: 24px;
    }

    main .table-of-contents .table-of-contents-eyebrow {
        font-size: 18px;
    }

    main .table-of-contents .table-of-contents-teaser {
        display: block;
        font-size: 16px;
        color: black;
    }
}

@media (min-width: 900px) {
    main .table-of-contents .table-of-contents-card {
        width: 33%;
    }
}

@media (min-width: 1300px) {
    main .table-of-contents-sticky {
        display: block;
    }

    main .table-of-contents-sticky.hidden {
        display: none;
    }

    main .table-of-contents-sticky {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #f8f8f8;
        font-size: 16px;
    }

    main .table-of-contents-sticky p.table-of-contents-eyebrow {
        margin: 0;
        padding: 0;
        color: #ccc;
    }

    main .table-of-contents-sticky .table-of-contents-card {
        height: unset;
        margin: 0;
        padding: 0;
        border-top: 1px solid #ccc;
        padding: 16px 24px;
        width: 216px;
    }

    main .table-of-contents-sticky .table-of-contents-card:first-child {
        border-top: none;
    }

    main .table-of-contents-sticky .table-of-contents-teaser {
        display: none;
    }

    main .table-of-contents-sticky h3 {
        color: #ccc;
        font-size: 18px;
        display: none;
        font-family: unset;
        margin: 0;
        font-weight: normal;
    }

    main .table-of-contents-sticky .table-of-contents-card:hover p.table-of-contents-eyebrow,
    main .table-of-contents-sticky .table-of-contents-card.selected p.table-of-contents-eyebrow {
        color: #333;
    }

    main .table-of-contents-sticky .table-of-contents-card:hover h3 {
        display: block;
        color: #333;
    }

}