main .quote .quote-quote {
    color: #5989f3;
}

main .quote .quote-attribution {
    display: flex;
    align-items: center;
}

main .quote .quote-attribution p {
    margin: 0;
    font-size: 18px;
    line-height: 1.25em;
    flex: 0 0 72px;
}

main .quote img {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    display: flex;
    margin-right: 16px;
}

main .quote {
    margin: 4em 0;
}