main .hero-section {
    max-width: 500px;
    height: calc(642px - 64px - 1em);
    box-sizing: border-box;
}

main .hero-section h3 {
    font-size: 24px;
}

main .hero-section h1 {
    margin-top: 0;
}

main .hero-section .animation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    --animation-height: 642px;
}


main .section > div.animation-wrapper {
    max-width: 100%;
    padding: 0;
}

main .animation {
    --animation-height: 642px;
}

main .animation > div {
    position: relative;
    height: var(--animation-height);
}

main .animation > div > * {
    position: absolute;
    top: 0;
    left: 0;
}

main .animation > div > *, main .animation img {
    height: var(--animation-height);
    object-fit: cover;
    width: 100%;
}

main .animation video {
    display: none;
}

main .animation video.animation-unhide {
    display: block;
}

@media (min-width: 600px) {
    main .animation {
        --animation-height: 200px;
    } 
}

@media (min-width: 1200px) {
    main .hero-section {
        margin-left: calc((100vw - 1200px + 32px) / 2);
    }
}
