main .share .icon {
    border-radius: 23px;
    height: 46px;
    width: 46px;
    padding: 10px;
    box-sizing: border-box;
}

main .share-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}