main .share .icon {
    border-radius: 23px;
    height: 46px;
    width: 46px;
    background-color: rgb(var(--social-icon-background));
    padding: 10px;
    box-sizing: border-box;
}

main .share {
    display: flex;
    justify-content: center;
}